.container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	padding: 0.5em;
}

.container canvas {
	box-shadow: 5px 5px 0px #00000055;
}

.container input {
	margin-top: 1em;
	padding: 0.5em;
	font-family: inherit;
	font-size: 1.5em;
	background: #00000022;
	border: none;
	border-radius: 5px;
	transition: background 0.4s ease;
	text-align: center;
}

.container input:focus {
	outline: none;
	background: #00000033;
}
